.QuizCreator {
    text-align: center;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

.QuizCreator form {
    margin-bottom: 30px;
}

.QuizCreator .buttonSection {
    display: flex;
    justify-content: space-evenly;
}