.QuizCreator {
    text-align: center;
    width: 100%;
    max-width: 300px;
    margin: 0 auto 40px;
}

.QuizCreator > form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: left;
    margin: 0 auto 40px;
}

.QuizCreator > div > .buttonSection {
    display: flex;
    justify-content: space-evenly;
}