.Auth {
    width: 100%;
    max-width: 350px;
    text-align: center;
    margin: 0 auto;
}

.form {
    max-width: 300px;
    margin: 0 auto;
}

.inputSection {
    margin-bottom: 40px;
}

.buttonSection {
    display: flex;
    justify-content: space-evenly;
}